{% extends "layout.html" %}
{% block body %}
<div class="container">
  {% for entry in entries %}
  <div class="card-group">
  {% if entry.imagematchrelationship_set %}
    <div class="card col-lg-2" >
        <a class="mx-auto" href="#"><img class="card-img-top" src="{{url_for('thumb', basename=entry.path_basename)}}"></a>
        <div class="card-block"><p class="card-text">
          {{entry.size}}
          {% if entry.thumbnailrelationship_set[0].original %}
            ({{entry.thumbnailrelationship_set[0].original.size}})
          {% endif %}
          </p></div>
    </div>
    {% for imr in entry.imagematchrelationship_set[:4] %}
      <div class="card col-lg-4">
        <a class="mx-auto" href="{{imr.match_result.href}}"><img class="card-img-top" src="{{imr.match_result.iqdb_thumb}}"></a>
        <div class="card-block">
            <p class="card-text">
              {{imr.imagematch_set[0].similarity}}% {{imr.match_result.size}}<br>
              {{imr.imagematch_set[0].status_verbose }}<br>
              {{imr.imagematch_set[0].search_place_verbose }}
            </p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
  {% else %}
  <p>No match found.</p>
  {% endfor %}
</div>
{% endblock %}
