{% extends "layout.html" %}
{% block body %}
<div class="container">
  <br>
  <form class="form-inline">
    <div class="form-group">
      <label for="InputFile">Image input</label>
      <input type="file" class="form-control-file" id="file" aria-describedby="fileHelp">
      <small id="fileHelp" class="form-text text-muted">Upload picture here.</small>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Submit</button>
    </div>
  </form>
  <br>
  {% for entry in entries %}
    <div class="card-group">
    <div class="card col-lg-2" id="image-model-{{entry.id}}">
      <a class="mx-auto" href="{{url_for('match_sha256', checksum=entry.checksum)}}"><img class="card-img-top" src="{{url_for('thumb', basename=entry.path_basename)}}"></a>
      <div class="card-block">
        <p class="card-text">
        {{entry.size}}
        {% if entry.thumbnailrelationship_set[0].original %}
          ({{entry.thumbnailrelationship_set[0].original.size}})
        {% endif %}
        </p>
      </div>
    </div>
    {% for imr in entry.imagematchrelationship_set[:5] %}
      <div class="card col-lg-2" id="imr-{{imr.id}}">
        <a class="mx-auto" href="{{imr.match_result.link}}">
          <img style="max-width:150px;" class="card-img-top" src="{{imr.match_result.iqdb_thumb}}">
        </a>
        <div class="card-block">
            {% if imr.imagematch_set|length == 1 %}
              <p class="card-text" style="word-wrap:break-word;">
                {{imr.imagematch_set[0].similarity}}% {{imr.match_result.size|default('', true)}}<br>
                {{imr.imagematch_set[0].status_verbose }}<br>
                {{imr.match_result.link_netloc}}
                <a href="{{url_for('single_match_detail', pair_id=imr.id)}}">detail</a>
              </p>
            {% endif %}
        </div>
      </div>
    {% endfor %}
    </div>
    <br>
  {% else %}
  <p>No match found.</p>
  {% endfor %}
  {{render_pagination(pagination)}}
</div>
{% endblock %}

{% macro render_pagination(pagination) %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {%- for page in pagination.iter_pages() %}
        {% if page %}
          {% if page != pagination.page %}
            <li class="page-item">
              <a class="page-link" href="{{ url_for('index', page=page) }}">{{ page }}</a>
            </li>
          {% else %}
            <li class="page-item active">
              <span class="page-link"> {{ page }} <span class="sr-only">(current)</span> </span>
            </li>
          {% endif %}
        {% else %}
          <li class="page-item"> <span class="page-link ellipsis">…</span> </li>
        {% endif %}
      {%- endfor %}
      {% if pagination.has_next %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('index', page=pagination.page + 1) }}">Next &raquo;</a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endmacro %}
