{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="card-group">
  {% for entry in entries %}
  {% if entry.match_relationship %}
    <div class="card col-lg-2" >
        <a class="mx-auto" href="#"><img class="card-img-top" src="{{url_for('thumb', filename=entry.path_basename)}}"></a>
        <div class="card-block"><p class="card-text">{{entry.size}}</p></div>
    </div>
    {% for imr in entry.match_relationship[:4] %}
      <div class="card col-lg-4">
        <a class="mx-auto" href="{{imr.match_result.href}}"><img class="card-img-top" src="{{imr.match_result.iqdb_thumb}}"></a>
        <div class="card-block">
            <p class="card-text">{{imr.imagematch_set[0].similarity}}% {{imr.match_result.size}}</p>
        </div>
      </div>
    {% endfor %}
  {% endif %}
  {% else %}
  <p>No match found.</p>
  {% endfor %}
  </div>
</div>
{% endblock %}
